<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>e</title>
    <link rel="stylesheet" href="/stylesheets/noUser.css" />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <p class="verifyBody">User Not Found</p>
  </body>
</html>
