<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>e</title>
    <link rel="stylesheet" href="/stylesheets/verified.css" />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <p class="verifyBody">Thank you! You're account has been verified</p>
    <div class="verifyBodyFlex">
      <p class="proceedText">Click This Link to proceed to</p>
      <a href="https://cityfourms.herokuapp.com/fd/users/signin">DeverNote</a>
    </div>
  </body>
</html>
